@import url("https://fonts.googleapis.com/css?family=Montserrat");

/* Request Card Frame */
.request-container {
  display: flex;
  flex-direction: row;
  width: 97%;
  height: 100%;
  overflow-x: hidden;
  font-family: "Montserrat";
  margin-top: 10px;
  margin-bottom: 20px;
}

.request-card {
  width: 400px;
  height: 180px;
  display: flex;
  flex-flow: column;
  color: #5c5c5c;
  margin-right: 40px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid #c4c4c4;
  padding: 5px;
  border-radius: 5px;
}

.request-card:hover {
  cursor: pointer;
}

.request-time-elapsed {
  font-size: 13px;
}

.request-card-header {
  padding: 10px;
}

.request-card-ride-details {
  border-right: 1px solid #c4c4c4;
  margin-right: 15px;
}

.request-card-driver-details > .row,
.request-card-ride-details > .row {
  padding: 10px;
}

.request-card-body {
  padding: 15px;
}

.icon-text {
  padding-left: 20px;
}
.bold-text {
  font-weight: bold;
}
.card-image {
  justify-content: center;
  align-items: center;
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 20%;
}

.pop-card-image img,
.card-image img {
  width: 50px;
  height: 50px;
}

.card-name {
  font-size: 18px;
  color: black;
}

.card-itinerary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
}

.itinerary-from,
.itinerary-to {
  font-size: 24px;
}

.card-button {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 67px;
}

.popup-status-txt {
  padding-top: 5px;
}

.itinerary-head {
  padding-left: 15px;
}
.itinerary-body {
  padding: 15px 15px 0px 30px;
}
.approved-request-status {
  text-align: right;
  font-weight: bold;
}

.green-highlight {
  background-color: rgb(121, 240, 127);
  border-radius: 15px;
  border: 1px solid rgb(121, 240, 127);
  padding: 0px 8px 0px 8px;
}

.red-highlight {
  background-color: rgb(240, 125, 121);
  border-radius: 15px;
  border: 1px solid rgb(240, 125, 121);
  padding: 0px 8px 0px 8px;
}

.orange-highlight {
  background-color: rgb(240, 188, 121);
  border-radius: 15px;
  border: 1px solid rgb(240, 188, 121);
  padding: 0px 8px 0px 8px;
}

.confirm-withdraw-col {
  display: flex;
  flex-direction: column;
  width: 66%;
  align-items: center;
  font-family: "Montserrat";
}

.confirm-withdraw-row {
  display: flex;
  flex-direction: row;
}

.confirm-withdraw-text {
  font-weight: bold;
  font-size: 15px;
  margin-top: 30px;
}

.withdraw-buttons {
  margin-top: 30px;
}

.modal {
  display: flex !important;
  align-items: center;
}

.confirm-modal-row {
  display: flex;
  flex-direction: row;
  padding-right: 30px;
  padding-bottom: 20px;
}

.confirm-modal-text {
  width: 500px;
}

.confirm-modal-exit {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  margin-top: -10px;
  padding-bottom: 3px;
}

/* Font Awesome Icon */
.icon-styling {
  margin-left: 30px;
  margin-right: 32px;
  margin-bottom: -7px;
  color: #3d77ff;
  width: 35px;
  height: 35px;
}

.arrow-icon {
  width: 50px;
  height: 30px;
}

.small-icon {
  width: 20px;
  height: 20px;
}

/* Button Styling */
.primary-btn {
  border-color: #3d77ff !important;
  background-color: #3d77ff !important;
  margin-top: 30px !important;
  margin-right: 10px !important;
}

.secondary-btn {
  border-color: #ff3d3d !important;
  background-color: #ff3d3d !important;
  margin-top: 30px !important;
  margin-left: 10px !important;
}
