@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
@import url("https://fonts.googleapis.com/css?family=Montserrat");

.landing-container {
  display: flex;
  flex-flow: row;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: "Montserrat";
}

.landing-text {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing-text-title {
  font-weight: bold;
  color: white;
  font-size: 70px;
}

.landing-text-subtitle {
  color: white;
  font-size: 28px;
  width: 500px;
  text-align: center;
}

.landing-about-poolup {
  margin-top: 52vh;
  margin-bottom: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60vw;
}

.about-poolup-left-text {
  font-weight: bold;
  font-size: 40px;
}

.blue-underline {
  border-bottom: 5px solid #3d77ff;
}

.about-poolup-right-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30vw;
  margin-top: 10px;
}

.about-poolup-right-top-text {
  font-weight: 16px;
}

.landing-poolup-experience {
  margin-top: 10vh;
}

.landing-poolup-exp-title {
  font-weight: bold;
  font-size: 40px;
  width: 60vw;
}

.learn-more-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 220px;
  padding-top: 440px;
  width: 755px;
}
