.post-form {
  width: 980px;
  display: flex;
  flex-direction: column;
  font-family: "Nunito";
  padding: 30px;
}

.post-from-to {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.post-options {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-left: 13px;
}

.instant-options {
  background-color: #3d77ff;
  width: 100%;
  border-radius: 5px;
  margin-left: 13px;
  margin-top: 20px;
  height: 35px;
  padding-left: 30px;
  padding-top: 5px;
  color: white;
}

.instant-card {
  margin-left: 13px;
  width: 100%;
}

.additional-detail-card {
  background-color: #f1f1f1;
  width: 100%;
  border-radius: 5px;
  margin-left: 13px;
  margin-top: 20px;
  height: 35px;
  padding-left: 30px;
  padding-top: 5px;
  margin-bottom: -40px;
}

.instantBook-checkbox {
  margin-left: 640px;
  margin-top: 3px;
  cursor: pointer;
}

.instantBook-list {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-left: 50px;
}

.instantBook-check1 {
  margin-left: 450px;
  color: #3d77ff;
  cursor: pointer;
}

.instantBook-check2 {
  margin-left: 578px;
  color: #3d77ff;
  cursor: pointer;
}

.instantBook-check3 {
  margin-left: 558px;
  color: #3d77ff;
  cursor: pointer;
}

.instantBook-check4 {
  margin-left: 561px;
  color: #3d77ff;
  cursor: pointer;
}

.instantBook-square1 {
  margin-left: 450px;
  color: #b1b1b1;
  cursor: pointer;
}

.instantBook-square2 {
  margin-left: 578px;
  color: #b1b1b1;
  cursor: pointer;
}

.instantBook-square3 {
  margin-left: 558px;
  color: #b1b1b1;
  cursor: pointer;
}

.instantBook-square4 {
  margin-left: 561px;
  color: #b1b1b1;
  cursor: pointer;
}

.instantBook-coming-soon {
  color: #b1b1b1;
  margin-left: 500px;
}

.post-specific-location {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  padding-left: 60px;
}

.dropdown-menu {
  max-height: 35vh;
  overflow-y: scroll;
}
