.upcoming-drive-container {
  width: 100%;
  min-height: 320px;
  display: flex;
  flex-direction: column;
  margin-top: 32px;
}

.title h2 {
  letter-spacing: 1.5px;
  color: #5c5c5c;
  font-size: 23px;
  font-weight: bold;
}

.card-container {
  width: 100%;
  height: 270px;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-x: auto;
}

.upDriveCard {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 23%;
  min-width: 300px;
  height: 230px;
  min-height: 230px;
  margin-left: 5px;
  margin-right: 3%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  align-items: flex-start;
  justify-content: center;
  padding: 25px;
}

.drive-day {
  color: #1d96ef;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
}

.drive-date {
  color: #1d96ef;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 3px;
  margin-top: -12px;
  margin-bottom: 10px;
}

.drive-time {
  color: #5c5c5c;
  font-size: 15px;
  letter-spacing: 2px;
  font-weight: bold;
}

.drive-itinerary {
  color: #5c5c5c;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 62%;
  margin-top: 7px;
}

.drive-price {
  color: #5c5c5c;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: bold;
  margin-top: 12px;
}

.upDriveCard:hover {
  cursor: pointer;
  box-shadow: 0 0 17px #1d96ef;
  -webkit-box-shadow: 0 0 17px #1d96ef;
}

@media screen and (max-width: 950px) {
  .upcoming-drive-container {
    height: 220px;
    min-height: 220px;
    width: 97%;
  }

  .upDriveCard {
    margin-right: 1%;
    height: 140px;
    min-height: 140px;
    min-width: 45px;
    padding: 7px;
  }

  .drive-day {
    font-size: 8px;
    letter-spacing: 0px;
  }

  .drive-date {
    font-size: 12px;
    margin-top: -4px;
    letter-spacing: 0px;
  }

  .drive-time {
    font-size: 7px;
    letter-spacing: 0px;
  }

  .drive-itinerary {
    font-size: 7px;
    letter-spacing: 0px;
    width: 55%;
  }

  .drive-price {
    font-size: 7px;
    letter-spacing: 0px;
  }
}

@media screen and (max-width: 1500px) and (min-width: 950px) {
  .upDriveCard {
    margin-right: 1%;
    width: 23%;
    min-width: 210px;
    padding-left: 20px;
    padding-right: 0px;
  }

  .drive-day {
    font-size: 14px;
  }

  .drive-date {
    font-size: 26px;
  }

  .drive-time {
    font-size: 13px;
  }

  .drive-itinerary {
    font-size: 13px;
  }

  .drive-price {
    font-size: 13px;
  }
}
