.upcoming-feed-container {
  display: flex;
  flex-flow: column;
  overflow-y: auto;
  margin-left: 30px;
  width: 26.3%;
  height: 70%;
  margin-top: 41px;
  color: #5c5c5c;
}

.header-card {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 100%;
  min-width: 310px;
  height: 10%;
  min-height: 50px;
  z-index: 100;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-weight: bold;
  font-size: 26px;
}

.upcoming-card {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  padding: 8% 18%;
  margin-top: 15px;
  background-color: #ffffff;
  width: 100%;
  min-width: 310px;
  height: 30%;
  min-height: 120px;
  z-index: 100;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.upcoming-card:hover {
  cursor: pointer;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.upcoming-1 {
  display: flex;
  flex-flow: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 2px;
}

.upcoming-2 {
  display: flex;
  flex-flow: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
}

.upcoming-1 .spacing {
  white-space: nowrap;
}

@media screen and (max-width: 950px) {
  .upcoming-feed-container {
    visibility: hidden;
    display: none;
    width: 0%;
    height: 0%;
  }
}
