@import url("https://fonts.googleapis.com/css?family=Montserrat");

.post-ride-summary {
  font-family: "Montserrat";
}

.post-ride-summary-content {
  display: flex;
  flex-direction: row;
}
.post-ride-summary-verticle {
}
.ride-posted {
  font-size: 35px;
  font-weight: bold;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 30px;
}

.ride-summary {
  margin-left: 40px;
  margin-bottom: 30px;
  font-size: 20px;
}

.post-ride-summary-right-div {
  display: flex;
  flex-flow: column;
  background-color: #ffffff;
  color: #5c5c5c;
  height: 500px;
  width: 25%;
  padding-top: 20px;
  padding-left: 30px;
  margin-top: 80px;
  margin-bottom: 20px;
  margin-left: 100px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid #c4c4c4;
}

.cardLine-title {
  font-size: 25px;
}

.cardLine-location {
  font-size: 20px;
  margin-top: 10px;
}

.cardLine-info {
  margin-top: 13px;
  font-size: 15px;
}

.line {
  margin-top: 20px;
  width: 325px;
  border-bottom: 1px solid #b9b9b9;
}

.cardLine-info-driverNote {
  margin-top: 80px;
  margin-bottom: 10px;
}

.cardLine-info-note {
  font-size: 12px;
}
