@import url("https://fonts.googleapis.com/css?family=Montserrat");

.navbar-container {
  width: 100vw;
  height: 70px;
  padding-left: 40px;
  padding-right: 10px;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #c4c4c4;
  font-family: "Montserrat";
}

.navbar-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3d77ff;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
}

.navbar-items {
  display: flex;
  flex-direction: row;
  width: 47vw;
  align-items: center;
  justify-content: space-evenly;
  color: #383838;
  font-weight: 600;
}

.non-active-item {
  cursor: pointer;
}

.active-item {
  cursor: pointer;
  border-bottom: 5px solid #3d77ff;
}

.non-active-photo {
  cursor: pointer;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active-photo {
  cursor: pointer;
  border: 2px solid #3d77ff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 37px;
  height: 37px;
}
