@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

.bars-container {
  width: 100%;
  background-color: #f7f9fc;
}

.navbar-container {
  height: 100%;
  display: flex;
  flex-flow: column;
}

.navbar-container .routes {
  height: 50%;
  display: flex;
  flex-flow: column;
}

.navbar-container .bear-image {
  height: 50%;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
}

.bear-image img {
  width: 120px;
  height: 120px;
  margin-left: 15%;
}

.navbar-item {
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 22px;
  margin-left: 20px;
  margin-top: 17px;
}

.navbar-item-active {
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 22px;
  font-weight: bold;
  margin-left: 20px;
  margin-top: 17px;
}

.navbar-item-active p {
  text-decoration: underline;
}

.navbar-container p {
  margin-left: 40px;
}

.navbar-container p:hover {
  cursor: pointer;
  text-decoration: underline;
}

.navbar-container h2 {
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 35px;
  margin-top: 37px;
  margin-left: 22px;
  margin-bottom: 74px;
  letter-spacing: 2px;
  font-weight: bold;
}

.navbar-container h2:hover {
  cursor: pointer;
}
