@import url("https://fonts.googleapis.com/css?family=Montserrat");

.modal-font {
  font-family: "Montserrat";
  font-weight: bold;
}

.bodyTitle {
  font-size: 18px;
}
.bodyFrame {
  margin-top: 10px;
  margin-left: 7px;
  padding-bottom: 1px;
}

.footerCss {
  margin: 0 auto;
  display: block;
}

.inputTextfield {
  margin-top: 10px;
  height: 100px;
  width: 450px;
}

.rideInfoCard {
  display: flex;
  flex-flow: column;
  background-color: #ffffff;
  color: #5c5c5c;
  height: 250px;
  width: 98%;
  padding-top: 20px;
  padding-left: 30px;
  margin-top: 30px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid #c4c4c4;
}

.cardLine {
  margin-bottom: 15px;
}
