.history-container {
  width: 98%;
  height: 53%;
  min-height: 340px;
  display: flex;
  flex-direction: column;
}

.history-feed-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.history-card {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  color: #5c5c5c;
  min-height: 90px;
  min-width: 200px;
  width: 98.5%;
  margin-top: 13px;
  margin-left: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  align-items: center;
}

.history-card:hover {
  cursor: pointer;
  box-shadow: 0 0 17px #1d96ef;
  -webkit-box-shadow: 0 0 17px #1d96ef;
}

.icon-value {
  font-size: 130%;
  width: 8%;
  text-align: left;
  margin-left: 4%;
}
