.filter-row {
  display: flex;
  flex-direction: row;
  margin-top: 13px;
  margin-left: 3px;
  width: 69.5%;
  height: 60px;
  border-bottom: 1px solid #d3d3d3;
}

@media screen and (max-width: 700px) {
  .filter-row {
    width: 98%;
    justify-content: flex-end;
  }
}
