.ride-feed-container {
  display: flex;
  flex-flow: column;
  width: 70%;
  height: 95%;
  overflow-y: auto;
}

.table-header {
  display: flex;
  flex-flow: row;
  min-height: 30px;
  min-width: 200px;
  width: 100%;
  color: #5c5c5c;
  align-items: center;
}

.table-entry {
  font-size: 20px;
  width: 16.66%;
  text-align: left;
  margin-left: 4%;
}

.rideCard {
  display: flex;
  flex-flow: row;
  background-color: #ffffff;
  color: #5c5c5c;
  min-height: 100px;
  min-width: 200px;
  width: 100%;
  margin-top: 11px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  align-items: center;
}

.rideCard:hover {
  cursor: pointer;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.card-value {
  font-size: 130%;
  width: 16.66%;
  text-align: left;
  margin-left: 4%;
}

.circular-border {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  border-style: solid;
  border-width: 3px;
  border-color: #119cf1;
}

.circular-border-full {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  border-style: solid;
  border-width: 3px;
  border-color: red;
}

@media screen and (max-width: 950px) {
  .ride-feed-container {
    width: 98%;
  }

  .card-value {
    font-size: 80%;
  }

  .table-entry {
    font-size: 13px;
  }

  .circular-border {
    width: 45px;
    height: 45px;
  }

  .circular-border-full {
    width: 45px;
    height: 45px;
  }

  .rideCard {
    min-height: 70px;
  }
}
