.rideCard {
  display: flex;
  flex-flow: row;
  background-color: #f6f7fb;
  min-height: 100px;
  min-width: 700px;
  width: 60%;
  margin-top: 20px;
  z-index: 100;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

.rideCard:hover {
  cursor: pointer;
}

.card-value {
  font-size: 20px;
  margin-right: 10%;
}

.card-value-first {
  font-size: 20px;
  margin-right: 10%;
  margin-left: 6%;
}
